.page-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-background);
    width: 100%;
}

.page-header .header-text {
    width: 100%;
    margin: 0 auto;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.drawer img {
    max-width: 3rem;
}

.header-text {
    font-size: 1.6rem;
    line-height: 2.6rem;
    background: var(--color-background-grey);
    text-align: center;
}

.header-text span {
    color: var(--color-footer-text);
    font-family: Droid Sans;
    font-style: italic;
}

.cart-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.nav-bar {
    display: none;
}

.cart-icon span {
    color: var(--color-footer-text)
}

strong {
    color: var(--color-highlight-text)
}

/* .top-container  p:first-child {
    color: var(--color-highlight-text);
    font-family: 'Oswald', sans-serif;
    font-size: 3rem
}
.top-container p {
    color: var(--color-primary);
    font-family: Droid Sans;
} */

/** SIDE DRAWER STYLES*/

.search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--color-background);
    margin-top: -10px;
    padding: 1.8rem;
}

.search-input {
    align-items: center;
    background: url(../../assets/images/icons/search.svg) no-repeat 0.1rem 0.1rem;
    border-radius: 0.8rem;
    padding-left: 3rem;
    width: 80%;
    font-family: Droid Sans;
}

.search-input-big {
    display: none;
}

.open-drawer {
    cursor: pointer;
}

.close-image {
    margin: 0 1.4rem;
    cursor: pointer;
}

.group-items p {
    margin-left: 8rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    color: var(--color-background);
    cursor: pointer;
    transition: 1s;
    font-style: italic;
    font-family: Droid Sans;
}

.group-items p:hover {
    color: #36084b
}

.display-text {
    display: none;
}

.nav-footer-text {
    display: flex;
    justify-content: center;
    margin-bottom: 1.8rem;
    padding-top: 3rem;
    font-style: italic;
    font-family: Droid Sans;
}

.nav-footer-text>span {
    color: var(--color-background);
    cursor: pointer
}

span {
    color: var(--color-footer-text)
}

.nav-footer {
    background: var(--color-background);
    height: 100vh;
}

@media (min-width: 700px) {
    .page-header {
        display: flex;
        align-items: center;
        background-color: var(--color-background);
        width: 100%;
    }
    .drawer {
        display: none;
    }
    .search-input-big {
        display: flex;
        align-items: center;
        background: url(../../assets/images/icons/search.svg) no-repeat 0.1rem 0.1rem;
        border-radius: 0.8rem;
        padding-left: 3rem;
        width: 25%;
        font-family: Droid Sans;
        height: 2.8rem
    }
    .cart-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        left: 20
    }
    .cart-icon img {
        padding-right: 2rem
    }
    .page-header {
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: var(--color-background);
        width: 100%;
    }
    .header-text {
        display: none;
    }
    .display-text {
        display: flex;
    }
    .display-text p {
        color: var(--color-highlight-text);
        font-size: 1.6rem;
        font-style: italic;
        font-family: Droid Sans;
        max-width: 150px;
    }
    .nav-item {
        display: flex;
        align-items: center;
    }
    .nav-item button {
        border-radius: 0.8rem;
        padding: 1.1rem;
        font-size: 1.6rem;
        font-style: italic;
        margin-left: 1.2rem
    }
    .navbar {
        background-color: #523468;
    }
    #navbarDropdownMenuLink {
        color: var(--color-background);
        font-size: 1.4rem;
        font-style: italic;
        margin-left: 2rem;
        cursor: pointer;
        font-family: Droid Sans;
    }
    #navbarDropdownMenuLink:hover {
        color: #36084b
    }
    .collapse {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-footer-text {
        padding-right: 3rem;
        display: flex;
    }
}

@media(max-width: 1000px) {
    .full-width {
        display: none;
    }
}